* {
    margin: 0;
    padding: 0;
}
#aft {
    width: 100%;
    height: 2555px;
}
.content {
    width: 1000px;
    height: 100%;
    margin: auto;
    text-align: center;
    overflow: hidden;
}
/* ----------header区域的开始----------- */
.header {
    width: 100%;
    height: 80px;
}
.logo {
    width: 1000px;
    height: 80px;
    margin: auto;
    background-image: url(../images/logo.png);
    background-repeat: no-repeat;
    background-position:left center ;
    overflow: hidden;
}
.header ul {
    margin-left: 200px;
}
.header li {
    list-style: none;
    float: left;
    line-height: 36px;
    font-size: 16px;
    margin-left: 27px;
    font-weight: bold;
}
.logo a {
    text-decoration: none;
    margin-top: 20px;
    display: block;
    text-align: center;
    width: 80px;
    height: 36px;
    color: #333532;
}
.logo a:hover {
    color: #ff6b13;
    border-bottom: 2px solid #ff6b13;
}
.span1 {
    display: block;
    text-align: center;
    width: 83px;
    height: 20px;
    line-height: 20px;
    margin-top:28px;
    margin-left: 75px;
    color: #333532;
    font-size: 14px;
    float: left;
}
.s1 {
    padding-right: 6px;
    width: 40px;
}
.s2 {
    border-left: 1px solid;
    padding-left: 10px;
    width: 40px;
}
/* -----------header区域的结束---------- */

/* ----------------banner区域的开始--------------- */
.banner  {
    width: 100%;
    height: 670px;
    background-image: url(../images/banner.png);
    background-position: center center;
}
/* ----------------banner区域的结束--------------- */

/* ----------------main1区域的结束--------------- */
.main1 {
    width: 100%;
    height: 715px;
    background: #fff;
}
.main1 h2 {
    font-size: 35px;
    margin-top: 73px;
}
.main1 p {
    font-size: 26px;
    line-height: 26px;
    margin-top: 45px;
    color: #888a89;
}
.box {
    width:222px;
    height: 100%;
    margin-top: 77px;
    margin-left: 57px;
    float: left; 
}
.box1 {
    width:222px;
    height: 100%;
    margin-top: 77px;
    float: left; 
    margin-left: 113px;
}
.box h3,.box1 h3 {
    font-size: 26px;
    line-height: 26px;
    margin-top: 45px;
}
.box p,.box1 p {
    font-size: 12px;
    line-height: 22px;
    margin-top: 25px;
    color: #888a89;
    margin-left: 4px;   
}
/* ----------------main1区域的结束--------------- */

/* ----------------main2区域的结束--------------- */
.main2 {
    width: 100%;
    height: 860px;
    background: #f2f2f2;
    overflow: hidden;
}
.main2 h2 {
    font-size: 35px;
    line-height: 35px;
    margin-top: 95px;
}
.main2 span {
    color: #ff6914;
}
.main2 .p1 {
    font-size: 25px;
    color: #888a89;
    line-height: 25px;
    margin-top: 45px;
}
.main2-left {
    width: 320px;
    height:557px ;
    float: left;
    margin-top: 105px;
}
.main2-center,.main2-right {
    width: 320px;
    height:557px ;
    float: left;
    margin-top: 105px;
    margin-left: 20px;
}
.main2-left h3,.main2-center h3,.main2-right h3 {
    font-size: 25px;
    line-height: 25px;
    color: #333335;
    margin-top: 30px;
    margin-bottom: 40px;
}
.main2-left ul,.main2-center ul,.main2-right ul {
    list-style-image: url(../images/ul_27.png);
    list-style-position: inside;
}
.main2-left li,.main2-center li,.main2-right li {
    font-size: 16px;
    line-height:46px ;
    color: #343436;
}
.main2-left p,.main2-center p,.main2-right p {
    color: #898989;
    margin-left: 250px;
    font-size: 18px;
    line-height: 18px;
    margin-top: 30px;
}
/* ----------------main2区域的结束--------------- */

/* ----------------footer区域的开始--------------- */
.footer {
    width: 100%;
    height: 230px;
    background: #303030;
}
.footer1 {
    float: left;
    margin-top: 73px;
}
.footer2 {
    width: 475px;
    height: 100%;
    float: left;
    margin-left: 120px;
    text-align-last: left;
}
.footer3 {
    margin: 50px 0 0 105px;
}
.p2 {
    font-size: 14px;
    color: #fff;
    line-height: 14px;
    margin: 75px 0 14px 0;
}
.p3 {
    font-size: 12px;
    line-height: 40px;
    color: #898b8a;
}
.p4 {
    font-size: 12px;
    line-height: 40px;
    color: #898b8a;
    background-image: url(../images/list_34.png);
    height: 40px;
    padding-left: 22px;
    background-repeat: no-repeat;
    background-position: left center;
}
/* ----------------footer区域的结束--------------- */