* {
    margin: 0;
    padding: 0;
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
}

.tx::after {
    content: '';
    clear: both;
    height: 0px;
    display: block;
    overflow: hidden;
    visibility: hidden;
}

.content {
    width: 1200px;
    margin: auto;
}

#head {
    background-color: #fafafa;
    border-bottom: 1px solid #f0f0f0;
    font-size: 12px;
    line-height: 20px;
}

#head .head-left {
    height: 20px;
    width: 50%;
    padding: 5px 0;
    float: left;
}

#head .head-left span:nth-child(1) {
    color: #555;
}

#head .head-left a {
    color: #555;
}

#head .head-left span:nth-child(n+1) {
    cursor: pointer;
}

#head .head-left span:last-child a {
    display: none;
}

#head .head-right {
    float: right;
    width: 50%;
    height: 30px;
    font-size: 12px;
}

#head .head-right ul {
    float: right;
    border: 1px solid #fafafa;
    cursor: pointer;
    position: relative;
    z-index: 1;
}

#head .head-right ul p {
    width: 80px;
    height: 30px;
    text-align: center;
}

#head .head-right ul p a {
    color: #777;
    line-height: 30px;
}

#head .head-right ul p i {
    display: inline-block;
    font-size: 12px;
    color: #ccc;
    line-height: 30px;
    transition: all .3s;
}

#head .head-right ul li {
    width: 80px;
    height: 28px;
    padding: 2px 0 2px 11px;
    font-size: 12px;
    color: #555;
    display: none;
    box-sizing: border-box;
}

#head .head-right ul:hover {
    background: #fff;
    border: 1px solid #F7F7F7;
}

#head .head-right ul:hover li {
    display: block;
}

#head .head-right ul:hover i {
    transform: rotate(180deg);
}

#head .head-right li:hover {
    background: #F7F7F7;
}

#header-wrap {
    padding: 19px 0;
}

#header-wrap .content {
    position: relative;
}

#header-wrap .content .logo {
    float: left;
    margin: 15px 10px auto 0;
}

#header-wrap .content #header-input {
    float: left;
    width: 500px;
    height: 38px;
    border: 1px solid #cccccc;
    border-right: 0;
    position: relative;
    z-index: 20;
    background: #fff;
    margin: 27px 0 21px 30px;
}

#header-wrap .content #header-input .header-chaxun {
    width: 363px;
    font-size: 0;
    background-color: #FFF;
    min-height: 100px;
    padding-bottom: 10px;
    border: solid 1px #D7D7D7;
    border-top: none;
    position: absolute;
    z-index: 1;
    top: 39px;
    left: -1px;
    font-size: 12px;
    display: none;
}

#header-wrap .content #header-input .header-chaxun .chaxun-lishi {
    width: 200px;
    min-height: 100px;
    border-right: 1px solid #D7D7D7;
    float: left;
}

#header-wrap .content #header-input .header-chaxun .chaxun-lishi .lishi-left {
    padding: 5px 19px;
    line-height: 20px;
}

#header-wrap .content #header-input .header-chaxun .chaxun-lishi .lishi-left span {
    float: left;
    color: #999;
}

#header-wrap .content #header-input .header-chaxun .chaxun-lishi .lishi-left a {
    float: right;
    color: #000;
}

#header-wrap .content #header-input .header-chaxun .lishi-right {
    width: 160px;
    float: right;
    font-size: 12px;
}

#header-wrap .content #header-input .header-chaxun .lishi-right .lishi-hot {
    line-height: 20px;
    padding: 5px 19px;
    color: #999;
}

#header-wrap .content #header-input .header-chaxun .lishi-right ul li {
    float: left;
    height: 20px;
    padding: 2px 9px;
    border: solid 1px #E6E6E6;
    margin: 0 0 10px 10px;
    cursor: pointer;
}

#header-wrap .content #header-input .header-chaxun .lishi-right ul li:hover {
    border: solid 1px #ef3c79;
}

#header-wrap .content #header-input .input-left {
    color: #999;
    cursor: pointer;
    font-size: 14px;
    line-height: 38px;
    text-align: center;
    width: 73px;
    border: 1px solid #fff;
    margin: -1px 0 0 -1px;
    border: #ccc solid 1px;
    position: absolute;
    z-index: 1;
}

#header-wrap .content #header-input .input-left img {
    vertical-align: middle;
    margin-left: 4px;
}

#header-wrap .content #header-input .input-left p {
    list-style: none;
    display: none;
}

#header-wrap .content #header-input .input-left:hover {
    background: #fff;
}

#header-wrap .content #header-input .input-left:hover p {
    display: block;
}

#header-wrap .content #header-input .input-left p:hover {
    background: #ef3c79;
    color: #fff;
}

#header-wrap .content #header-input .input-left:hover img {
    transform: rotate(180deg);
}

#header-wrap .content #header-input .input-right {
    position: absolute;
    left: 80px;
    top: 0;
    border: 0;
    background: #fff;
    color: #999999;
    width: 300px;
    height: 30px;
    margin: 0;
    outline: none;
    padding: 4px 0px 4px 16px;
}

#header-wrap .content #header-input .input-btn {
    position: absolute;
    right: -84px;
    top: -1px;
    background-color: #ef3c79;
    border: 0;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    height: 40px;
    width: 84px;
    outline: none;
}

#header-wrap .content #header-input .keyword {
    position: absolute;
    top: 47px;
    left: 0;
}

#header-wrap .content #header-input .keyword li {
    float: left;
    font-size: 12px;
    color: #999;
    margin-right: 12px;
    cursor: pointer;
}

#header-wrap .content .header-div {
    position: absolute;
    right: 115px;
    top: 26px;
    font-size: 0;
}

#header-wrap .content .header-div .iconyiliaohangyedeICON- {
    font-size: 20px;
    vertical-align: bottom;
    color: #999;
}

#header-wrap .content .header-div .iconxiajiantou2 {
    display: inline-block;
    font-size: 12px;
    transition: all .3s;
}

#header-wrap .content .header-div .header-left {
    width: 90px;
    height: 20px;
    padding: 10px;
    float: left;
    border: 1px solid #F0F0F0;
    font-size: 12px;
    text-align: center;
    line-height: 20px;
    color: #666;
    background-color: #FAFAFA;
    position: relative;
    cursor: pointer;
}

#header-wrap .content .header-div .my-shoop {
    width: 310px;
    border: 1px solid #F0F0F0;
    position: absolute;
    right: 0px;
    top: 39px;
    font-size: 12px;
    cursor: auto;
    display: none;
    z-index: 5;
    background: #fff;
}

#header-wrap .content .header-div .my-shoop .my-shoop-top {
    line-height: 28px;
    height: 28px;
    padding: 7px;
    border-bottom: solid 1px #DDD;
    text-align: right;
    color: #ef3c79;
    cursor: pointer;
}

#header-wrap .content .header-div .my-shoop .my-shoop-top .iconarrow-right {
    font-size: 10px;
}

#header-wrap .content .header-div .my-shoop .my-shoop-mid ul {
    width: 100%;
    padding: 8px 0;
}

#header-wrap .content .header-div .my-shoop .my-shoop-mid ul li {
    width: 138px;
    float: left;
    padding: 4px 0 4px 16px;
    line-height: 20px;
    color: #ef3c79;
    text-align: left;
    cursor: pointer;
}

#header-wrap .content .header-div .my-shoop .my-shoop-mid ul li .iconarrow-right {
    font-size: 10px;
}

#header-wrap .content .header-div .my-shoop .my-shoop-mid ul li:nth-child(2n) {
    border-left: 1px solid #EEE;
}

#header-wrap .content .header-div .my-shoop .my-zuji .my-shoop-title {
    width: 292px;
    height: 20px;
    padding: 6px 8px 6px 8px;
}

#header-wrap .content .header-div .my-shoop .my-zuji .my-shoop-title span {
    float: left;
}

#header-wrap .content .header-div .my-shoop .my-zuji .my-shoop-title a {
    float: right;
    color: #ef3c79;
    cursor: pointer;
}

#header-wrap .content .header-div .my-shoop .my-zuji .my-zuji-list {
    padding: 0 7px 7px 7px;
    font-size: 12px;
    text-align: center;
}

#header-wrap .content .header-div:hover .iconxiajiantou2 {
    transform: rotate(180deg);
}

#header-wrap .content .header-car {
    position: absolute;
    right: -24px;
    top: 26px;
}

#header-wrap .content .header-car .header-right {
    width: 106px;
    height: 20px;
    padding: 10px;
    float: left;
    border: 1px solid #F0F0F0;
    font-size: 12px;
    text-align: center;
    line-height: 20px;
    color: #666;
    background-color: #FAFAFA;
    position: relative;
    cursor: pointer;
}

#header-wrap .content .header-car .header-right .iconxiajiantou2 {
    display: inline-block;
    transition: all .3s;
    font-size: 12px;
}

#header-wrap .content .header-car .header-right .iconiconset0308 {
    font-size: 20px;
    vertical-align: bottom;
    color: #999;
}

#header-wrap .content .header-car .header-car-list {
    width: 350px;
    border: 1px solid #F0F0F0;
    position: absolute;
    right: 0;
    top: 41px;
    font-size: 12px;
    color: #666;
    display: none;
    z-index: 5;
    background: #fff;
}

#header-wrap .content .header-car .header-car-list .car-top {
    width: 334px;
    height: 34px;
    line-height: 34px;
    padding: 7px;
    font-weight: 600;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

#header-wrap .content .header-car .header-car-list .car-list {
    display: block;
    width: 348px;
    max-height: 267px;
    overflow: auto;
    position: relative;
    margin: 20px 0;
}

#header-wrap .content .header-car .header-car-list .car-list .null {
    display: block;
    width: 100%;
    text-align: center;
}

#header-wrap .content .header-car .header-car-list .car-foot {
    width: 335px;
    height: 54px;
    padding: 8px;
    background-color: #F0F0F0;
}

#header-wrap .content .header-car .header-car-list .car-foot div {
    float: right;
    width: 108px;
    height: 20px;
    padding: 4px 8px 4px 8px;
    background: #ef3c79;
    border-radius: 5px;
    text-align: center;
    color: #fff;
    margin-top: 2px;
    cursor: pointer;
}

#header-wrap .content .header-car:hover .iconxiajiantou2 {
    transform: rotate(180deg);
}

#nav {
    border-bottom: 2px solid #EF3C79;
}

#nav .nav-left {
    width: 212px;
    line-height: 20px;
    padding: 8px 10px 10px 10px;
    float: left;
    font-size: 14px;
    line-height: 20px;
    background: #EF3C79;
    color: #fff;
    position: relative;
}

#nav .nav-left .icongengduo {
    font-size: 20px;
    vertical-align: middle;
    color: #fff;
}

#nav .nav-left .nav-title {
    position: absolute;
    z-index: 5;
    top: 40px;
    left: 0;
    display: none;
}

#nav .nav-left .nav-title li {
    width: 232px;
    height: 34px;
    padding: 9px 20px 0;
    background: #f8f8f8;
    transition: all 0.3s;
    color: #666;
    box-sizing: border-box;
    cursor: pointer;
}

#nav .nav-left .nav-title li .nav-title-tx {
    width: 946px;
    min-height: 450px;
    padding: 19px 20px;
    background: #fff;
    position: absolute;
    top: 0;
    left: 232px;
    display: none;
}

#nav .nav-left .nav-title li .nav-title-tx div {
    font-size: 12px;
    vertical-align: top;
}

#nav .nav-left .nav-title li .nav-title-tx div span {
    margin-left: 5px;
    background-color: #7C7171;
    color: #FFF;
    line-height: 20px;
    display: inline-block;
    padding: 2px 10px;
}

#nav .nav-left .nav-title li .nav-title-tx div dl {
    display: flex;
    margin-top: 10px;
    font-size: 12px;
}

#nav .nav-left .nav-title li .nav-title-tx div dl a {
    padding: 0px 10px;
    color: #7C7171;
    border-left: 1px solid #e7e7e7;
}

#nav .nav-left .nav-title li .nav-title-tx div dl dd {
    height: 25px;
    border-bottom: 1px solid #e7e7e7;
}

#nav .nav-left .nav-title li .nav-title-tx div dl dt {
    height: 16px;
    padding-right: 15px;
    margin-left: 15px;
    color: #444;
}

#nav .nav-left .nav-title li .nav-title-tx div dl dt .iconarrow-right {
    font-size: 10px;
}

#nav .nav-left .nav-title li:hover {
    padding-left: 30px;
    background: #fff;
    opacity: 1;
}

#nav .menu {
    float: left;
}

#nav .menu li {
    float: left;
    padding: 8px 24px;
    font-weight: 600;
    cursor: pointer;
    transition: all .5s;
    color: #444;
}

#nav .menu li:hover {
    color: #EF3C79;
}

.chaxun-tx {
    width: 100%;
    min-height: 200px;
    float: left;
}

.chaxun-tx p {
    display: block;
}

.my-zuji {
    background: #fafafa;
}

.my-zuji-list div {
    width: 42px;
    height: 42px;
    border: 1px solid #ddd;
    float: left;
    margin-left: 15px;
}

.my-zuji-list div img {
    width: 40px;
    height: 40px;
}

.header-right .numcar {
    position: absolute;
    top: -6px;
    left: 30px;
    width: 16px;
    height: 16px;
    line-height: 16px;
    border-radius: 8px;
    background: #ef3c79;
    color: #fff;
}

.car-list li {
    list-style: none;
    width: 98%;
    height: 67px;
    border-bottom: dotted 1px #DDD;
    margin-left: 2%;
    position: relative;
    margin-top: 5px;
}

.car-list li div {
    width: 50px;
    height: 50px;
    border: 1px solid #ddd;
    float: left;
}

.car-list li div img {
    width: 48px;
    height: 48px;
}

.car-list li p:nth-child(2) {
    width: 180px;
    height: 32px;
    font-size: 12px;
    float: left;
    margin-left: 5px;
    overflow: hidden;
}

.car-list li p:nth-child(3) {
    width: 60px;
    float: right;
    font-size: 12px;
}

.car-list li p:nth-child(4) {
    position: absolute;
    right: 20px;
    top: 20px;
    color: #ef3c79;
    font-size: 12px;
    cursor: pointer;
}

.car-list::-webkit-scrollbar {
    width: 10px;
    height: 1px;
}

.car-list::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #ddd;
}

.car-foot p {
    text-align: right;
}

.car-foot p .headnumall {
    color: #ef3c79;
    font-weight: 600;
}

.car-foot p .headmeyall {
    color: #ef3c79;
    font-weight: 600;
}