* {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
}

.tx::after {
  content: '';
  clear: both;
  height: 0px;
  display: block;
  overflow: hidden;
  visibility: hidden;
}

.content {
  width: 1200px;
  margin: auto;
}

#xqy-wrap {
  padding: 10px 0;
  height: 20px;
  color: #585858;
}

#xqy-wrap .content .xqy-wrap-left {
  font-size: 12px;
}

#xqy-wrap .content .xqy-wrap-left span {
  line-height: 20px;
}

#xqy-wrap .content .xqy-wrap-left .iconarrow-right {
  font-size: 12px;
  color: #aaa;
}

#xqy-wrap .content .xqy-wrap-left .wrap-title {
  font-size: 12px;
  line-height: 20px;
  color: #999;
}

#bigglass {
  width: 1200px;
  position: relative;
  left: 0;
  right: 0;
  margin: auto;
  min-height: 488px;
  margin-bottom: 20px;
  border: solid 1px #EEE;
}

#bigglass #left-imgs {
  position: absolute;
}

#bigglass #left-imgs .smallbox {
  width: 350px;
  height: 350px;
  overflow: hidden;
}

#bigglass #left-imgs .smallbox img {
  width: 350px;
  height: 350px;
}

#bigglass #left-imgs .smallbox .fdj_mark {
  width: 150px;
  height: 150px;
  background: rgba(0, 0, 0, 0.2);
  display: none;
  position: absolute;
  left: 0;
  top: 0;
}

#bigglass #left-imgs .bigbox {
  z-index: 999;
  height: 463px;
  width: 624px;
  border: 1px solid #ccc;
  position: absolute;
  top: 0;
  left: 350px;
  overflow: hidden;
  display: none;
}

#bigglass #left-imgs .bigbox img {
  position: absolute;
  top: 0;
  left: 0;
  width: 700px;
  height: 700px;
}

#bigglass #left-imgs .smallimg {
  margin-top: 10px;
  list-style: none;
  display: flex;
  padding: 6px 5px;
  width: 340px;
  height: 52px;
  position: absolute;
  background-color: #f9f9f9;
}

#bigglass #left-imgs .smallimg li {
  width: 50px;
  height: 50px;
  margin-right: 8px;
  border: 1px solid #fff;
}

#bigglass #left-imgs .smallimg li img {
  width: 50px;
  height: 50px;
}

#bigglass #left-imgs .ncs-handle {
  height: 24px;
  width: 350px;
  position: absolute;
  bottom: -110px;
  left: 10px;
}

#bigglass #left-imgs .ncs-handle span {
  background-color: #FFF;
  float: left;
  padding: 1px 6px;
  margin-right: 5px;
  border: solid 1px #F5F5F5;
  border-radius: 4px;
  font-size: 12px;
  color: #575757;
}

#bigglass #left-imgs .ncs-handle span:last-child {
  float: right;
  margin-right: 10px;
}

#bigglass #right-goodslist {
  width: 850px;
  position: absolute;
  left: 350px;
  top: 0;
  border-left: 1px solid #EEE;
}

#bigglass #right-goodslist .topname {
  padding: 7px 1px 0px 20px;
}

#bigglass #right-goodslist .topname img {
  width: 23px;
  height: 23px;
  vertical-align: middle;
}

#bigglass #right-goodslist .topname span {
  padding-left: 8px;
  color: #b029b1;
  font-size: 12px;
  vertical-align: middle;
}

#bigglass #right-goodslist .name {
  padding: 15px 15px;
}

#bigglass #right-goodslist .name h3 {
  height: 22px;
  overflow: hidden;
  color: #333;
  font-size: 16px;
}

#bigglass #right-goodslist .name p:nth-child(2) {
  margin-top: 5px;
}

#bigglass #right-goodslist .name p {
  font-size: 12px;
  color: #777;
  line-height: 17px;
}

#bigglass #right-goodslist .title {
  color: #FFF;
  background: #ededed;
  padding: 15px 0;
}

#bigglass #right-goodslist .title p {
  display: block;
  height: 36px;
  font-size: 12px;
  color: #777;
  margin-left: 17px;
}

#bigglass #right-goodslist .title p:nth-child(1) span {
  line-height: 36px;
  display: inline-block;
  height: 36px;
}

#bigglass #right-goodslist .title p:nth-child(1) span:nth-child(2) {
  margin-left: 20px;
  text-decoration: line-through;
}

#bigglass #right-goodslist .title p:nth-child(2) span {
  display: inline-block;
  height: 36px;
  line-height: 36px;
  vertical-align: top;
}

#bigglass #right-goodslist .title p:nth-child(2) span:nth-child(2) {
  display: inline-block;
  height: 36px;
  color: #ef3c79;
  margin-left: 20px;
  font-size: 30px;
  font-weight: 700;
}

#bigglass #right-goodslist .title p:nth-child(3) span {
  display: inline-block;
  height: 36px;
  line-height: 36px;
  vertical-align: top;
}

#bigglass #right-goodslist .title p:nth-child(3) span:nth-child(2) {
  margin-left: 20px;
  font-size: 0;
}

#bigglass #right-goodslist .title p:nth-child(3) span:nth-child(2) img {
  margin-top: 10px;
}

#bigglass #right-goodslist .title p:nth-child(3) span:nth-child(3) {
  margin-left: 15px;
}

#bigglass #right-goodslist .yunfei {
  padding: 6px 0;
}

#bigglass #right-goodslist .yunfei span {
  display: inline-block;
  width: 50px;
  font-size: 12px;
  line-height: 24px;
  padding: 6px 0 0;
  color: #777;
  margin-left: 17px;
}

#bigglass #right-goodslist .yunfei div {
  display: inline-block;
}

#bigglass #right-goodslist .yunfei div select {
  height: 26px;
  padding: 0 20px 0 15px;
  border: solid 1px #E6E6E6;
}

#bigglass #right-goodslist .yunfei div span:nth-child(1) {
  width: 86px;
  color: #777;
  margin: 0;
}

#bigglass #right-goodslist .yunfei div span:nth-child(3) {
  width: 32px;
  font-size: 16px;
  color: #ef3c79;
  margin: 0 8px;
  font-weight: 700;
}

#bigglass #right-goodslist .yunfei div span:nth-child(4) {
  width: auto;
  color: #777;
  margin: 0;
}

#bigglass #right-goodslist .logistics {
  padding: 6px 0;
}

#bigglass #right-goodslist .logistics span:nth-child(1) {
  display: inline-block;
  width: 50px;
  font-size: 12px;
  line-height: 24px;
  padding: 6px 0 0;
  color: #777;
  margin-left: 17px;
}

#bigglass #right-goodslist .logistics span:nth-child(2) {
  font-size: 12px;
  line-height: 24px;
  color: #777;
}

#bigglass #right-goodslist .pushcar {
  padding: 20px 0 20px 16px;
  position: relative;
}

#bigglass #right-goodslist .pushcar div {
  display: none;
  font-size: 14px;
  color: 666;
  background-color: #FFF7D1;
  height: 24px;
  padding: 5px 9px;
  border: solid 1px #E5DEBC;
  position: absolute;
  z-index: 1;
  top: 74px;
  left: 30px;
  box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.1);
}

#bigglass #right-goodslist .pushcar div i {
  background: url(../images/2014_ncs_public_img.png) no-repeat -70px -100px;
  display: block;
  width: 8px;
  height: 8px;
  margin-top: -13px;
  margin-left: 8px;
  margin-bottom: 5px;
  border: none;
}

#bigglass #right-goodslist .pushcar div span {
  color: #EF3C79;
  font-weight: bold;
}

#bigglass #right-goodslist .pushcar #num {
  color: #333;
  height: 41px;
  width: 41px;
  padding: 0;
  border: solid 1px #E6E6E6;
  font-size: 16px;
  font-weight: 600;
  line-height: 41px;
  text-align: center;
}

#bigglass #right-goodslist .pushcar i {
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  border: 1px solid #eee;
  cursor: pointer;
}

#bigglass #right-goodslist .pushcar .iconshangjiantou {
  position: absolute;
  top: 20px;
  left: 60px;
  font-size: 12px;
  color: #777;
}

#bigglass #right-goodslist .pushcar .iconxiajiantou {
  position: absolute;
  top: 40px;
  left: 60px;
  font-size: 12px;
  color: #777;
}

#bigglass #right-goodslist .pushcar span:nth-child(4) {
  display: inline-block;
  background-color: #EF3C79;
  width: 106px;
  height: 32px;
  padding: 5px 12px;
  text-align: center;
  line-height: 32px;
  color: #fff;
  font-weight: 700;
  margin-left: 30px;
  border-radius: 5px;
  cursor: pointer;
}

#bigglass #right-goodslist .pushcar span:nth-child(4) i {
  border: none;
  font-size: 16px;
}

#bigglass #right-goodslist .pushcar span:nth-child(5) {
  display: inline-block;
  background-color: #fff4f8;
  color: #f03c79;
  border: 1px solid #f03c79;
  height: 30px;
  padding: 5px 12px;
  text-align: center;
  margin-left: 5px;
  line-height: 30px;
  border-radius: 5px;
  font-weight: 700;
  cursor: pointer;
}

#bigglass #right-goodslist .pushcar span:nth-child(5):hover {
  background: #ef3c79;
  color: #fff;
}

#bigglass #right-goodslist .pushcar::after {
  content: '';
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 40px;
  width: 700px;
  height: 1px;
  border-bottom: 1px dotted #ccc;
}

#bigglass #right-goodslist .foot {
  margin-top: 6px;
  height: 30px;
  font-size: 12px;
  line-height: 30px;
  color: #777;
  position: relative;
}

#bigglass #right-goodslist .foot .carhint {
  display: none;
  width: 320px;
  height: 117px;
  background-color: #F5F5F5;
  border: solid 1px #E6E6E6;
  box-shadow: 0 0 3px rgba(153, 153, 153, 0.25);
  position: absolute;
  z-index: 100;
  top: 0;
  left: 111px;
  text-align: center;
}

#bigglass #right-goodslist .foot .carhint .close {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 16px;
  cursor: pointer;
}

#bigglass #right-goodslist .foot .carhint p:nth-child(1) {
  color: #333;
  text-align: center;
  width: 100%;
  margin: 10px 0 5px 0;
  font-size: 16px;
}

#bigglass #right-goodslist .foot .carhint p:nth-child(2) {
  text-align: center;
  width: 100%;
  margin: 0 0 5px 0;
}

#bigglass #right-goodslist .foot .carhint p:nth-child(2) span {
  color: #333;
  font-size: 12px;
  margin: 0;
}

#bigglass #right-goodslist .foot .carhint p:nth-child(2) .num {
  color: #ef3c79;
  font-weight: 600;
}

#bigglass #right-goodslist .foot .carhint p:nth-child(2) .allmoney {
  color: #ef3c79;
  font-weight: 600;
}

#bigglass #right-goodslist .foot .carhint .lookcar {
  color: #575757;
  background: #ef3c79;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}

#bigglass #right-goodslist .foot .carhint .lookcar:hover {
  color: #fff;
}

#bigglass #right-goodslist .foot .carhint .goonbuy {
  background-color: #CCD0D9;
  color: #575757;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}

#bigglass #right-goodslist .foot .carhint .goonbuy:hover {
  background: #ef3c79;
  color: #fff;
}

#bigglass #right-goodslist .foot img {
  width: 16px;
  height: 16px;
  vertical-align: middle;
}

#bigglass #right-goodslist .foot span:nth-child(1) {
  width: 70px;
  display: inline-block;
  margin-left: 17px;
}

#bigglass #right-goodslist .foot span:nth-child(n+2) {
  margin-right: 10px;
}

#text .content {
  position: relative;
}

#text .content .tx-left {
  width: 210px;
  display: block;
  float: left;
}

#text .content .tx-left .left-logo {
  text-align: center;
  width: 190px;
  height: 21px;
  padding: 9px;
  border: solid 1px #ddd;
  margin-top: -1px;
  font-size: 12px;
  line-height: 21px;
  font-weight: 600;
  color: #585858;
}

#text .content .tx-left .left-logo img {
  vertical-align: middle;
}

#text .content .tx-left .left1 {
  display: flex;
  justify-content: space-around;
  border: 1px solid #ddd;
  border-top: none;
}

#text .content .tx-left .left1 div {
  width: 84px;
  height: 30px;
  border: 1px solid #ddd;
  background: #f8f8f8;
  margin: 10px;
  text-align: center;
  line-height: 30px;
  color: #585858;
  font-size: 12px;
}

#text .content .tx-left .left2 {
  margin-top: 10px;
  background-color: #F7F7F7;
  height: 20px;
  padding: 5px 10px;
  border: 1px solid #DDD;
  width: 188px;
  line-height: 20px;
  color: #666;
  font-size: 12px;
  font-weight: 600;
}

#text .content .tx-left .left2-1 {
  background-color: #fff;
  border: solid 1px #E7E7E7;
  border-top: none;
  width: 208px;
}

#text .content .tx-left .left2-1 span {
  display: inline-block;
  width: 40%;
  color: #777;
  height: 20px;
  font-size: 12px;
  line-height: 20px;
  padding: 4px 0;
  margin-left: 10px;
  cursor: pointer;
}

#text .content .tx-left .left2-1 span:hover {
  color: #EF3C79;
}

#text .content .tx-left .left3 {
  margin-top: 10px;
  background-color: #F7F7F7;
  height: 20px;
  padding: 5px 10px;
  border: 1px solid #DDD;
  width: 188px;
  line-height: 20px;
  color: #666;
  font-size: 12px;
  font-weight: 600;
}

#text .content .tx-left .left3-1 {
  background-color: #fff;
  border: solid 1px #E7E7E7;
  border-top: none;
  width: 208px;
}

#text .content .tx-left .left3-1 li {
  width: 28.33%;
  float: left;
  padding: 4px 2% 4px 3%;
}

#text .content .tx-left .left3-1 li a {
  text-decoration: none;
  font-size: 12px;
  color: #666;
}

#text .content .tx-left .left3-1 li a:hover {
  color: #EF3C79;
}

#text .content .tx-left .left4 {
  margin-top: 10px;
  background-color: #F7F7F7;
  height: 20px;
  padding: 5px 10px;
  border: 1px solid #DDD;
  width: 188px;
  line-height: 20px;
  color: #666;
  font-size: 12px;
  font-weight: 600;
}

#text .content .tx-left .left4-1 {
  background-color: #fff;
  border: solid 1px #E7E7E7;
  border-top: none;
  width: 208px;
}

#text .content .tx-left .left4-1 li {
  padding: 8px 12px 8px 4px;
  clear: both;
  margin-top: -1px;
  border-bottom: dashed 1px #E7E7E7;
}

#text .content .tx-left .left4-1 li div {
  width: 50px;
  height: 50px;
  border: 1px solid #ddd;
  float: left;
}

#text .content .tx-left .left4-1 li div img {
  width: 40px;
  height: 40px;
  margin: 5px;
}

#text .content .tx-left .left4-1 li div:hover {
  cursor: pointer;
  border: 1px solid #EF3C79;
}

#text .content .tx-left .left4-1 li p {
  display: block;
  width: 130px;
  height: 16px;
  font-size: 12px;
  white-space: nowrap;
  float: left;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-left: 10px;
  color: #585858;
}

#text .content .tx-left .left4-1 li p:nth-child(2):hover {
  color: #EF3C79;
  cursor: pointer;
}

#text .content .tx-left .left5 {
  margin-top: 10px;
  background-color: #F7F7F7;
  height: 20px;
  padding: 5px 10px;
  border: 1px solid #DDD;
  width: 188px;
  line-height: 20px;
  color: #666;
  font-size: 12px;
  font-weight: 600;
}

#text .content .tx-left .left5-1 {
  padding: 9px;
  background-color: #fff;
  border: solid 1px #E7E7E7;
  border-top: none;
  width: 210px;
  box-sizing: border-box;
}

#text .content .tx-left .left5-1 li img {
  width: 120px;
  height: 120px;
  display: block;
  margin: auto;
}

#text .content .tx-left .left5-1 li p:nth-child(2) {
  color: #575757;
  font-size: 12px;
  display: block;
  height: 35px;
  overflow: hidden;
}

#text .content .tx-left .left5-1 li p:nth-child(2):hover {
  color: #ef3c79;
}

#text .content .tx-left .left5-1 li p:nth-child(3) {
  color: #EF3C79;
  text-align: center;
  display: block;
  font-size: 12px;
  font-weight: 600;
}

#text .content .tx-left .left6 {
  margin-top: 10px;
  background-color: #F7F7F7;
  height: 20px;
  padding: 5px 10px;
  border: 1px solid #DDD;
  width: 188px;
  line-height: 20px;
  color: #666;
  font-size: 12px;
  font-weight: 600;
}

#text .content .tx-left .left6-1 {
  padding: 9px;
  background-color: #fff;
  border: solid 1px #E7E7E7;
  border-top: none;
  width: 210px;
  box-sizing: border-box;
}

#text .content .tx-left .left6-1 li {
  margin-top: 30px;
  border-bottom: 1px solid #ddd;
}

#text .content .tx-left .left6-1 li div {
  width: 122px;
  height: 122px;
  margin: auto;
  border: 1px solid #fff;
}

#text .content .tx-left .left6-1 li div img {
  width: 120px;
  height: 120px;
  margin: 1px;
}

#text .content .tx-left .left6-1 li div:hover {
  cursor: pointer;
  border: 1px solid #ef3c79;
}

#text .content .tx-left .left6-1 li p:nth-child(2) {
  display: block;
  width: 160px;
  height: 40px;
  font-size: 12px;
  margin: auto;
  margin-top: 10px;
  overflow: hidden;
  line-height: 20px;
  cursor: pointer;
  color: #666;
}

#text .content .tx-left .left6-1 li p:nth-child(3) {
  display: block;
  margin: auto;
  width: 160px;
  color: #ef3c79;
  font-weight: 600;
  font-size: 14px;
  padding: 5px 0;
}

#text .content .tx-right {
  width: 980px;
  float: left;
  min-height: 500px;
  margin-left: 8px;
  border: 1px solid #ddd;
}

#text .content .tx-right .right-menu {
  width: 980px;
  height: 37px;
  border: 1px solid #E6E6E6;
  font-size: 0;
  position: absolute;
  background: #fff;
}

#text .content .tx-right .right-menu span {
  font-size: 14px;
  position: relative;
  padding: 8px 35px 6px 35px;
  color: #333;
  border-top: 3px solid #fff;
  border-right: 1px solid #E6E6E6;
  display: inline-block;
  cursor: pointer;
}

#text .content .tx-right .right-menu div {
  position: relative;
  float: right;
  width: 160px;
  height: 36px;
  color: #989898;
  line-height: 37px;
  background: url(../images/goods_coda.png) no-repeat 115px 6px;
}

#text .content .tx-right .right-menu div span {
  display: inline-block;
  color: #989898;
  padding: 0 50px 0 0;
  display: block;
  text-align: right;
  height: 100%;
  font-size: 12px;
  cursor: pointer;
}

#text .content .tx-right .right-menu div .code {
  width: 100px;
  height: 130px;
  position: absolute;
  padding: 8px;
  left: 50%;
  transform: translate(-30%, 0);
  background: #FDFDFD;
  border: 1px solid #eee;
  display: none;
}

#text .content .tx-right .right-menu div .code span {
  width: 100%;
  height: 16px;
  font-size: 12px;
  padding: 0;
  line-height: 12px;
  text-decoration: none;
  color: #585858;
}

#text .content .tx-right .right-menu div .code img {
  width: 100px;
  height: 100px;
}

#text .content .tx-right .right-menu div:hover .code {
  display: block;
}

#text .content .tx-right .tx-title {
  margin-top: 10px;
}

#text .content .tx-right .tx-title img {
  display: block;
  margin: auto;
}

#text .content .tuijian {
  width: 980px;
  float: right;
}

#text .content .tuijian h4 {
  width: 980px;
  height: 32px;
  border-bottom: 3px solid #ef3c79;
  font-size: 14px;
  color: #585858;
  line-height: 32px;
}

#text .content .tuijian ul {
  margin-top: 10px;
}

#text .content .tuijian ul li {
  padding: 10px 0 5px 0;
  width: 194px;
  height: 192px;
  float: left;
  border-left: dotted 1px #E6E6E6;
}

#text .content .tuijian ul li img {
  width: 120px;
  height: 120px;
  display: block;
  margin: auto;
}

#text .content .tuijian ul li p:nth-child(2) {
  font-size: 12px;
  height: 32px;
  overflow: hidden;
}

#text .content .tuijian ul li p:nth-child(2):hover {
  color: #ef3c79;
  cursor: pointer;
}

#text .content .tuijian ul li p:nth-child(3) {
  text-align: center;
  color: #ef3c79;
  font-weight: 600;
}

#text .content .tuijian ul li:nth-child(1) {
  border: none;
}
