* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

ul li {
  list-style: none;
}

#elm {
  height: 100%;
  display: flex;
  flex-direction: column;
}

#elm header {
  height: 2.533333rem;
  background: url(../images/elm1.png) no-repeat, #01a1ff;
  background-position: .373333rem .533333rem;
  background-size: 4.146667rem .48rem;
}

#elm header input {
  width: 9.28rem;
  height: .986667rem;
  text-align: center;
  margin: 1.373333rem .373333rem;
  outline: none;
  border: none;
}

#elm main {
  flex: 1;
}

#elm main .ul1 {
  width: 9.04rem;
  margin: auto;
  height: 4.666667rem;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-content: space-around;
}

#elm main .ul1 li {
  width: 1.2rem;
  height: 1.333333rem;
  margin-left: .666667rem;
}

#elm main .ul1 li img {
  width: 1.066667rem;
  height: .8rem;
}

#elm main .ul1 li p {
  font-size: .293333rem;
  line-height: .293333rem;
  margin-top: .333333rem;
  text-align: center;
}

#elm main .ul1 li:nth-child(1) {
  margin-left: 0px;
}

#elm main .ul1 li:nth-child(6) {
  margin-left: 0px;
}

#elm main .m1-1 {
  width: 9.466667rem;
  height: 2.933333rem;
  margin: auto;
  background: url(../images/3_32.png) no-repeat right center, #f7f7f7;
  background-size: 3.626667rem 2.92rem;
  overflow: hidden;
}

#elm main .m1-1 p:nth-child(1) {
  font-size: .4rem;
  line-height: .4rem;
  margin: .4rem 0 0 .4rem;
  font-weight: bold;
}

#elm main .m1-1 p:nth-child(2) {
  font-size: .32rem;
  line-height: .32rem;
  margin: .266667rem 0 0 .4rem;
  color: #ccc;
}

#elm main .m1-1 p:nth-child(3) {
  font-size: .293333rem;
  line-height: .293333rem;
  margin: .333333rem 0 0 .4rem;
  color: #af8462;
}

#elm main .m1-2 {
  width: 9.466667rem;
  height: 1.066667rem;
  margin: .066667rem auto;
  background: #af8462;
}

#elm main .m1-2 p {
  display: inline-block;
  height: 1.066667rem;
  width: 100%;
  line-height: .333333rem;
  background: url(../images/3_36.png) no-repeat 0.37333rem center;
  background-size: .506667rem .453333rem;
}

#elm main .m1-2 p img {
  width: .506667rem;
  height: .453333rem;
}

#elm main .m1-2 p span:nth-child(1) {
  font-size: .333333rem;
  line-height: 1.066667rem;
  margin-left: 1.066667rem;
}

#elm main .m1-2 p span:nth-child(2) {
  font-size: .266667rem;
  line-height: 1.066667rem;
}

#elm main .m1-2 p span:nth-child(3) {
  font-size: .266667rem;
  line-height: 1.066667rem;
  float: right;
}

#elm main .m1-3 {
  width: 9.466667rem;
  height: 2.32rem;
  margin: .066667rem auto;
  background: url(../images/3_40.png) no-repeat right center, #0886ff;
  background-size: 2.84rem 2.32rem;
  overflow: hidden;
}

#elm main .m1-3 h3 {
  margin: .493333rem 0 0 1.333333rem;
  font-size: .453333rem;
  line-height: .453333rem;
  color: #fff;
}

#elm main .m1-3 span {
  display: block;
  width: 3.28rem;
  height: .426667rem;
  border-radius: .213333rem;
  margin: .24rem 0 0 1.813333rem;
  font-size: .293333rem;
  line-height: .426667rem;
  background: #cfe7ff;
  text-align: center;
}
