* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

ul,
li {
  list-style: none;
}

#elm {
  height: 100%;
  display: flex;
  flex-direction: column;
}

#elm .elm-main {
  flex: 1;
  overflow: auto;
  background: #f5f5f5;
}

#elm .elm-main .header {
  height: 42.66667vw;
  display: flex;
  background: #fff;
}

#elm .elm-main .header .left {
  flex: 1;
  background: orange;
  background: url(../images/left1.png) no-repeat right bottom;
  background-size: 22vw 20.8vw;
  border-right: 0.13333vw solid #ccc;
  border-bottom: 0.13333vw solid #ccc;
}

#elm .elm-main .header .left p:nth-child(1) {
  font-size: 3.73333vw;
  line-height: 3.73333vw;
  color: #ffa300;
  margin: 6.66667vw 0 0 4.53333vw;
}

#elm .elm-main .header .left p:nth-child(2) {
  font-size: 2.93333vw;
  line-height: 2.93333vw;
  margin: 2.93333vw 0 0 4.53333vw;
  color: #979797;
}

#elm .elm-main .header .right {
  flex: 1;
  display: flex;
  flex-direction: column;
}

#elm .elm-main .header .right .top {
  flex: 1;
  background: url(../images/hongbao1.webp) no-repeat 34.66667vw 5.33333vw;
  background-size: 11.33333vw 11.33333vw;
  border-bottom: 0.13333vw solid #ccc;
}

#elm .elm-main .header .right .top p:nth-child(1) {
  font-size: 4vw;
  line-height: 4vw;
  color: #20a9cd;
  margin: 6.26667vw 0 0 4vw;
}

#elm .elm-main .header .right .top p:nth-child(2) {
  font-size: 2.93333vw;
  line-height: 2.93333vw;
  margin: 2.66667vw 0 0 4vw;
  color: #979797;
}

#elm .elm-main .header .right .bottom {
  flex: 1;
  background: url(../images/hongbao.webp) no-repeat 34.66667vw 5.33333vw;
  background-size: 11.33333vw 11.33333vw;
  border-bottom: 0.13333vw solid #ccc;
}

#elm .elm-main .header .right .bottom p:nth-child(1) {
  font-size: 4vw;
  line-height: 4vw;
  color: #f6636d;
  margin: 6.26667vw 0 0 4vw;
}

#elm .elm-main .header .right .bottom p:nth-child(2) {
  font-size: 2.93333vw;
  line-height: 2.93333vw;
  margin: 2.66667vw 0 0 4vw;
  color: #979797;
}

#elm .elm-main .main .tou {
  height: 17.86667vw;
  background: url(../images/tou1.png) no-repeat center center, #fff;
  background-size: 37.2vw 5.86667vw;
  overflow: hidden;
  margin-top: 2.66667vw;
}

#elm .elm-main .main .tou p {
  font-size: 2.66667vw;
  line-height: 2.66667vw;
  color: #ccc;
  margin-top: 11.73333vw;
  text-align: center;
}

#elm .elm-main .main ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background: #fff;
}

#elm .elm-main .main ul li {
  width: 46vw;
  height: 70.66667vw;
}

#elm .elm-main .main ul li img {
  width: 46vw;
  height: 46vw;
}

#elm .elm-main .main ul li .list1 {
  width: 41.33333vw;
  height: 16vw;
  overflow: hidden;
  margin: auto;
  border-bottom: 1px dashed #ccc;
}

#elm .elm-main .main ul li .list1 h3 {
  font-size: 3.73333vw;
  line-height: 7.06667vw;
}

#elm .elm-main .main ul li .list1 p:nth-child(2) {
  font-size: 2.4vw;
  line-height: 2.4vw;
  color: #969696;
}

#elm .elm-main .main ul li .list1 p:nth-child(2) span:nth-child(2) {
  margin-left: 2.66667vw;
}

#elm .elm-main .main ul li .list1 p:nth-child(3) span:nth-child(1) {
  font-size: 3.33333vw;
  line-height: 3.33333vw;
  margin-top: 1.33333vw;
  color: #fe6310;
}

#elm .elm-main .main ul li .list1 p:nth-child(3) span:nth-child(2) {
  display: inline-block;
  width: 11.2vw;
  height: 3.2vw;
  border: 1px solid #b78390;
  border-radius: 2px;
  font-size: 2.4vw;
  line-height: 3.2vw;
  text-align: center;
  color: #b78390;
  margin-left: 1.33333vw;
}

#elm .elm-main .main ul li p {
  margin-left: 2vw;
}

#elm .elm-main .main ul li p i {
  display: inline-block;
  width: 2.66667vw;
  height: 2.66667vw;
  background: url(../images/list1.png) no-repeat left center;
  background-size: 2.66667vw 2.66667vw;
}

#elm .elm-main .main ul li p span {
  font-size: 2.66667vw;
  line-height: 2.66667vw;
  color: #ccc;
}

#elm .elm-main .main .span1 {
  display: block;
  font-size: 2.66667vw;
  line-height: 13.33333vw;
  text-align: center;
  color: #ccc;
  background: #fff;
}

#elm .elm-main .footer .tou {
  height: 17.86667vw;
  background: url(../images/footer1.png) no-repeat center center, #fff;
  background-size: 37.2vw 5.86667vw;
  overflow: hidden;
  margin-top: 2.66667vw;
}

#elm .elm-main .footer .tou p {
  font-size: 2.66667vw;
  line-height: 2.66667vw;
  color: #ccc;
  margin-top: 11.73333vw;
  text-align: center;
}

#elm .elm-main .footer ul {
  display: flex;
  justify-content: space-around;
  margin-top: 5.33333vw;
  background: #fff;
}

#elm .elm-main .footer ul li {
  width: 32vw;
  height: 44vw;
}

#elm .elm-main .footer ul li div {
  width: 13.06667vw;
  height: 4.93333vw;
  background: #433f3e;
  color: #fff;
  font-size: 2.93333vw;
  line-height: 4.93333vw;
  text-align: center;
}

#elm .elm-main .footer ul li img {
  width: 21.6vw;
  height: 8.8vw;
  margin: 5.06667vw 0 0 5.33333vw;
}

#elm .elm-main .footer ul li p:nth-child(3) {
  font-size: 2.93333vw;
  line-height: 2.93333vw;
  margin: 11.06667vw 0 0 1.6vw;
}

#elm .elm-main .footer ul li p:nth-child(4) {
  font-size: 3.2vw;
  line-height: 3.2vw;
  color: #eb5c4b;
  margin: 4vw 0 0 1.6vw;
}

#elm .elm-main .footer ul li p:nth-child(4) span {
  font-size: 2.13333vw;
  line-height: 3.2vw;
  margin-left: 1.33333vw;
  color: #ccc;
  text-decoration: line-through;
}

#elm footer {
  height: 14.13333vw;
}

#elm footer ul {
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#elm footer ul li {
  width: 5.33333vw;
  height: 8.53333vw;
}

#elm footer ul li img {
  width: 4.93333vw;
  height: 4.93333vw;
}

#elm footer ul li p {
  font-size: 2.66667vw;
  line-height: 2.66667vw;
}
