* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'icon';
    src: url('../font/fontello.eot');
    src: url('../font/fontello.eot?#iefix') format('embedded-opentype'),
        url('../font/fontello.svg#icomoon') format('svg'),
        url('../font/fontello.woff') format('woff'),
        url('../font/fontello.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.iconfont {
    font-family: icon;
}

.one::after {
    content: "\e82e";
}

.two::after {
    content: "\e814";
}

.san::after {
    content: "\e806";
}


.content {
    width: 1160px;
    margin: auto;
}

.tx::after {
    content: "";
    height: 0;
    display: block;
    overflow: hidden;
    visibility: hidden;
    clear: both;
}

ul,
li {
    list-style: none;
}

#ys {
    height: 100%;

    .header {

        .content {
            padding: 10px 0;

            img {
                width: 150px;
                height: 40px;
            }

            ul {
                float: right;
                display: flex;

                li {
                    padding: 0 30px;
                    font-size: 12px;
                    line-height: 44px;
                    color: #7b7b7b;
                    position: relative;

                    span {
                        display: inline-block;
                        width: 0px;
                        height: 0px;
                        border: none;
                        font-size: 0;
                        position: absolute;
                        left: 40%;
                        top: 70%;
                        transform: translate(-50%, 0);
                        transition: all .5s;
                    }
                }

                li:hover span {
                    width: 84px;
                    border-top: 3px solid blueviolet;
                }

                span {
                    display: inline-block;
                    width: 85px;
                    height: 30px;
                    border: 1px solid #ac9bf1;
                    color: #ac9bf1;
                    line-height: 30px;
                    margin-left: 10px;
                    text-align: center;
                    margin-top: 6px;
                }
            }
        }
    }

    .banner {
        width: 100%;
        height: 570px;
        background: url(../images/7.jpg)no-repeat;
        background-size: cover;
        overflow: hidden;
        padding-top: 50px;

        .b1 {
            width: 510px;
            height: 260px;
            margin: 100px auto 0;
            text-align: center;

            h3 {
                font-size: 30px;
                line-height: 30px;
            }

            img {
                margin-top: 35px;
            }

            p {
                font-size: 12px;
                line-height: 12px;
                margin-top: 10px;
                color: #757575;
            }
        }
    }

    .nav {
        width: 100%;

        .content {
            overflow: hidden;

            .p1 {
                font-size: 20px;
                line-height: 20px;
                font-weight: bold;
                margin-top: 75px;
                text-align: center;
            }

            ul {
                width: 100%;
                display: flex;
                flex-wrap: wrap;

                li {
                    width: 25%;
                    height: 170px;
                    text-align: center;
                    margin-top: 55px;
                    background: #fff;

                    i:nth-child(1) {
                        display: inline-block;
                        width: 80px;
                        height: 80px;
                        background: url(../images/list.png);
                    }

                    i:hover {
                        background-position-x: -90px;
                    }



                    p:nth-child(2) {
                        font-size: 24px;
                        font-weight: bold;
                        margin-top: 25px;
                        line-height: 24px;
                    }

                    p:nth-child(3) {
                        font-size: 12px;
                        line-height: 12px;
                        margin-top: 14px;
                        color: #757575;
                    }
                }

                li:nth-child(2) {
                    i {
                        display: inline-block;
                        width: 80px;
                        height: 80px;
                        background: url(../images/list.png) -0px -90px;
                    }

                    i:hover {
                        background-position-x: -90px;
                    }
                }

                li:nth-child(3) {
                    i {
                        display: inline-block;
                        width: 80px;
                        height: 80px;
                        background: url(../images/list.png) -0px -180px;
                    }

                    i:hover {
                        background-position-x: -90px;
                    }
                }

                li:nth-child(4) {
                    i {
                        display: inline-block;
                        width: 80px;
                        height: 80px;
                        background: url(../images/list.png) -0px -270px;
                    }

                    i:hover {
                        background-position-x: -90px;
                    }
                }

                li:nth-child(5) {
                    i {
                        display: inline-block;
                        width: 80px;
                        height: 80px;
                        background: url(../images/list.png) -0px -360px;
                    }

                    i:hover {
                        background-position-x: -90px;
                    }
                }

                li:nth-child(6) {
                    i {
                        display: inline-block;
                        width: 80px;
                        height: 80px;
                        background: url(../images/list.png) -0px -450px;
                    }

                    i:hover {
                        background-position-x: -90px;
                    }
                }

                li:nth-child(7) {
                    i {
                        display: inline-block;
                        width: 80px;
                        height: 80px;
                        background: url(../images/list.png) -0px -540px;
                    }

                    i:hover {
                        background-position-x: -90px;
                    }
                }

                li:nth-child(8) {
                    i {
                        display: inline-block;
                        width: 80px;
                        height: 80px;
                        background: url(../images/list.png) -0px -630px;
                    }

                    i:hover {
                        background-position-x: -90px;
                    }
                }

            }
        }
    }

    .main1 {
        width: 100%;
        margin-top: 70px;

        .left {
            width: 50%;
            float: left;

            img {
                width: 100%;
                height: 550px;
            }
        }

        .right {
            float: left;
            width: 50%;
            height: 550px;
            background: #f6f6f6;
            display: flex;
            flex-direction: column;

            .p2 {
                font-size: 20px;
                line-height: 20px;
                margin-top: 75px;
                margin-left: 110px;
                font-weight: bold;
            }

            .top {
                flex: 1;
                padding: 50px 0 0 110px;

                .zuo {
                    height: 100%;
                    float: left;

                    span {
                        font-size: 50px;
                        color: #757575;
                    }



                }

                .zuo:hover .one {
                    color: blueviolet;
                }

                .you {
                    float: left;
                    width: 350px;
                    height: 80px;
                    margin-left: 38px;

                    p {
                        font-size: 14px;
                        line-height: 30px;
                    }

                    p:nth-child(2) {
                        color: #757575;
                    }
                }
            }

            .center {
                padding: 50px 0 0 110px;
                flex: 1;

                .zuo {
                    height: 100%;
                    float: left;

                    span {
                        font-size: 50px;
                        color: #757575;
                    }
                }

                .zuo:hover .two {
                    color: blueviolet;
                }

                .you {
                    float: left;
                    width: 350px;
                    height: 80px;
                    margin-left: 38px;

                    p {
                        font-size: 14px;
                        line-height: 30px;
                    }

                    p:nth-child(2) {
                        color: #757575;
                    }
                }
            }

            .bottom {
                padding: 50px 0 0 110px;
                flex: 1;

                .zuo {
                    height: 100%;
                    float: left;

                    span {
                        font-size: 50px;
                        color: #757575;
                    }
                }

                .zuo:hover .san {
                    color: blueviolet;
                }

                .you {
                    float: left;
                    width: 350px;
                    height: 80px;
                    margin-left: 38px;

                    p {
                        font-size: 14px;
                        line-height: 30px;
                    }

                    p:nth-child(2) {
                        color: #757575;
                    }
                }
            }
        }
    }

    .main2 {
        position: relative;
        padding-bottom: 60px;

        .content {
            overflow: hidden;

            p {
                text-align: center;
                font-size: 20px;
                margin-top: 75px;
            }

            ul {
                display: flex;
                margin-top: 30px;
                justify-content: space-around;

                li {
                    position: relative;

                    img {
                        width: 275px;
                        height: 205px;
                    }

                    .li {
                        width: 275px;
                        height: 205px;
                        background: rgba($color: #000000, $alpha: 0.5);
                        position: absolute;
                        top: 0;
                        display: none;
                        box-shadow: 0 0 0 10px #000 inset;

                        p {
                            color: #fff;
                            font-size: 20px;
                            font-weight: bold;
                            margin-top: 50px;
                        }

                        .li1 {
                            width: 110px;
                            height: 35px;
                            margin: 10px auto;
                            border: 1px solid #fff;
                            text-align: center;
                            position: relative;
                            border-radius: 10px;
                            overflow: hidden;

                            span {
                                font-size: 14px;
                                line-height: 35px;
                                position: relative;
                                z-index: 1;
                            }

                            .li2 {
                                width: 0px;
                                height: 35px;
                                background: #fff;
                                transition: width 1s;
                                position: absolute;
                                top: 0;
                            }
                        }

                        .li1:hover .li2 {
                            width: 110px;
                        }
                    }


                }

                li:hover .li {
                    display: block;
                }
            }

            .span1 {
                display: block;
                width: 110px;
                height: 40px;
                background: #ac92ec;
                color: #fff;
                font-size: 12px;
                line-height: 40px;
                text-align: center;
                margin: 40px auto;
                border-radius: 5px;
                position: relative;
                overflow: hidden;

                span:nth-child(1) {
                    position: relative;
                    z-index: 1;
                }

                span:nth-child(2) {
                    display: block;
                    width: 0px;
                    height: 40px;
                    background: #7355be;
                    position: absolute;
                    top: 0;
                    transition: width 1s;
                }
            }

            .span1:hover .s2 {
                width: 110px;
            }

            .di {
                width: 600px;
                height: 2px;
                border-bottom: 2px solid #d8d8d8;
                margin: auto;
            }

            .span2 {
                display: block;
                color: #757575;
                font-size: 18px;
                width: 180px;
                height: 18px;
                background: #fff;
                line-height: 18px;
                position: absolute;
                bottom: 52px;
                left: 50%;
                transform: translate(-50%, 0);
                text-align: center;
            }
        }
    }

    .main3 {
        background: #f6f6f6;
        overflow: hidden;
        padding-bottom: 80px;

        p {
            font-size: 20px;
            font-weight: bold;
            text-align: center;
            margin-top: 75px;
        }

        .content {
            margin-top: 30px;
            display: flex;
            justify-content: space-between;

            .left {
                float: left;

                img {
                    width: 540px;
                    height: 360px;
                }
            }

            .right {
                float: left;

                img {
                    width: 540px;
                    height: 360px;
                }
            }
        }
    }

    .main4 {
        width: 100%;
        height: 460px;
        background: url(../images/1.jpg);
        background-size: cover;
        text-align: center;
        overflow: hidden;

        .div {
            width: 430px;
            margin: auto;
            overflow: hidden;

            p:nth-child(1) {
                font-size: 24px;
                color: #fff;
                font-weight: bold;
                margin-top: 124px;
                line-height: 24px;
            }

            p:nth-child(2) {
                font-size: 14px;
                color: #fff;
                margin-top: 40px;
                line-height: 24px;
            }

            p:nth-child(3) {
                font-size: 14px;
                color: #fff;
                margin-top: 20px;
                line-height: 14px;
            }

            p:nth-child(4) {
                font-size: 14px;
                color: #fff;
                margin-top: 10px;
                line-height: 14px;
            }
        }
    }

    .main5 {
        overflow: hidden;


        .content {
            text-align: center;
            overflow: hidden;
            position: relative;
            padding-bottom: 75px;

            p:nth-child(1) {
                font-size: 20px;
                line-height: 20px;
                margin-top: 75px;
            }

            p:nth-child(2) {
                font-size: 14px;
                line-height: 14px;
                color: #757575;
                margin-top: 16px;
            }

            .span3 {
                display: block;
                margin: auto;
                width: 40px;
                height: 2px;
                border-top: 2px solid #363636;
                margin-top: 25px;
            }

            input {
                width: 525px;
                height: 45px;
                margin: 30px 30px 0 0;
                border: 2px solid #d8d8d8;
            }

            input:nth-child(7) {
                width: 80px;
                height: 40px;
                background: #d8d8d8;
                position: absolute;
                transform: translate(-116px, 4px);
            }

            input:last-child {
                width: 110px;
                height: 40px;
                border-radius: 2px;
                border: none;
                background: #ac92ec;
                position: absolute;
                color: #fff;
                bottom: 10px;
                left: 50%;
                transform: translate(-60%, 0);
            }
        }
    }

    .footer {
        margin-top: 75px;
        height: 110px;
        background: #333333;
        overflow: hidden;

        div {
            font-size: 12px;
            color: #9b9b9b;
            margin: 50px 0;
            text-align: center;
        }
    }
}