* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

ul,
li {
    list-style: none;
}

#ydd {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;

    header {
        height: 1.333333rem;
        background: #ccc;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .list1 {
            height: 1.333333rem;

            span {
                font-size: .333333rem;
                line-height: 1.333333rem;
                margin-right: .266667rem;
                margin-left: .453333rem;
            }

            i {
                display: inline-block;
                width: .213333rem;
                height: .213333rem;
                transform: rotatez(90deg);
            }
        }

        .list2 {
            width: 6.133333rem;
            height: .8rem;
            position: relative;
            vertical-align: middle;

            .icon-sousuo {
                position: absolute;
                z-index: 1;
                top: 50%;
                left: .133333rem;
                transform: translate(0, -50%);
            }

            input {
                width: 6.133333rem;
                height: .8rem;
                border-radius: .4rem;
                border: none;
                background: #f2f2f2;
                padding-left: .8rem;
                position: absolute;
                top: 0;
                left: 0;
            }
        }

        .icon-wode {
            width: .453333rem;
            height: .533333rem;
            vertical-align: middle;
        }
    }

    main {
        width: 100%;
        padding-bottom: .666667rem;
        flex: 1;
        background: #fff;

        .banner {
            width: 100%;
            height: 3.72rem;
            background: url(../images/banner1.png);
            background-size: 100% 100%;
        }

        .m1 {
            box-shadow: 0 2px 2px 0 #ccc;

            ul {
                height: 4.533333rem;
                display: flex;
                align-content: space-around;
                flex-wrap: wrap;

                li {
                    height: 1.733333rem;
                    width: 20%;
                    text-align: center;
                    margin-top: .533333rem;
                }

                li:nth-child(1) {
                    i {
                        display: inline-block;
                        width: 1.173333rem;
                        height: 1.173333rem;
                        background: url(../images/menu_icon3.png) -1.466667rem -0.12rem;
                        background-size: 5.546667rem 4.16rem;
                    }

                }

                li:nth-child(2) {
                    i {
                        display: inline-block;
                        width: 1.173333rem;
                        height: 1.173333rem;
                        background: url(../images/menu_icon3.png) -.12rem -1.466667rem;
                        background-size: 5.546667rem 4.16rem;
                    }

                }

                li:nth-child(3) {
                    i {
                        display: inline-block;
                        width: 1.173333rem;
                        height: 1.173333rem;
                        background: url(../images/menu_icon3.png) -2.893333rem -1.466667rem;
                        background-size: 5.546667rem 4.16rem;
                    }

                }

                li:nth-child(4) {
                    i {
                        display: inline-block;
                        width: 1.173333rem;
                        height: 1.173333rem;
                        background: url(../images/menu_icon3.png) -1.466667rem -1.466667rem;
                        background-size: 5.546667rem 4.16rem;
                    }

                }

                li:nth-child(5) {
                    i {
                        display: inline-block;
                        width: 1.173333rem;
                        height: 1.173333rem;
                        background: url(../images/menu_icon3.png) -2.893333rem -0.12rem;
                        background-size: 5.546667rem 4.16rem;
                    }

                }

                li:nth-child(6) {
                    i {
                        display: inline-block;
                        width: 1.173333rem;
                        height: 1.173333rem;
                        background: url(../images/menu_icon3.png) -.12rem -.12rem;
                        background-size: 5.546667rem 4.16rem;
                    }

                }

                li:nth-child(7) {
                    i {
                        display: inline-block;
                        width: 1.173333rem;
                        height: 1.173333rem;
                        background: url(../images/menu_icon3.png) -1.466667rem -2.88rem;
                        background-size: 5.546667rem 4.16rem;
                    }

                }

                li:nth-child(8) {
                    i {
                        display: inline-block;
                        width: 1.173333rem;
                        height: 1.173333rem;
                        background: url(../images/menu_icon3.png) -2.893333rem -2.88rem;
                        background-size: 5.546667rem 4.16rem;
                    }

                }

                li:nth-child(9) {
                    i {
                        display: inline-block;
                        width: 1.173333rem;
                        height: 1.173333rem;
                        background: url(../images/menu_icon3.png) -4.266667rem -0.12rem;
                        background-size: 5.546667rem 4.16rem;
                    }

                }

                li:nth-child(10) {
                    i {
                        display: inline-block;
                        width: 1.173333rem;
                        height: 1.173333rem;
                        background: url(../images/menu_icon3.png) -4.266667rem -1.493333rem;
                        background-size: 5.546667rem 4.16rem;
                    }

                }
            }

            div {
                height: 1.466667rem;
                margin-left: .4rem;

                span {
                    display: inline-block;
                    font-size: .266667rem;
                    line-height: 1.466667rem;
                    vertical-align: middle;
                }

                .icon-youbian {
                    float: right;
                    margin-top: .533333rem;
                    color: #ccc;
                }

                .icon-notice-fill {
                    color: #f54a43;
                    vertical-align: middle;
                }
            }
        }

        .m2 {
            margin-top: .8rem;
            padding-left: .333333rem;

            p {
                font-size: .493333rem;
                line-height: .493333rem;
            }

            ul {
                display: flex;
                overflow: auto;

                li {
                    margin-right: .333333rem;
                    margin-top: .533333rem;

                    img {
                        width: 8.613333rem;
                        height: 3.2rem;
                    }
                }
            }
        }

        .m3 {
            margin-top: .8rem;
            padding-left: .333333rem;

            .p1 {
                font-size: .493333rem;
                line-height: .493333rem;

                span {
                    font-size: .333333rem;
                    line-height: .493333rem;
                }

                span:nth-child(1) {
                    margin-left: 3.333333rem;
                    color: #de353c;
                }

                span:nth-child(2) {
                    margin-left: .346667rem;
                    color: #ccc;
                }

                span:nth-child(3) {
                    margin-left: .346667rem;
                    color: #ccc;
                }
            }

            ul {
                display: flex;
                flex-direction: column;

                li {
                    margin-top: .533333rem;
                    border-bottom: .013333rem solid #ccc;
                    padding-bottom: .266667rem;

                    .left {
                        float: left;

                        img {
                            width: 2.8rem;
                            height: 2.133333rem;
                        }
                    }

                    .right {
                        width: 6.4rem;
                        float: right;
                        padding-left: .453333rem;

                        p:nth-child(1) {
                            font-size: .373333rem;
                            line-height: .373333rem;
                        }

                        p:nth-child(2) {
                            font-size: .266667rem;
                            line-height: .733333rem;
                            color: #ccc;
                        }

                        .r1 {
                            span:nth-child(1) {
                                padding: .133333rem .2rem;
                                font-size: .266667rem;
                                background: #fbece7;
                                color: #fa6a6a;
                            }

                            span:nth-child(2) {
                                padding: .133333rem .2rem;
                                font-size: .266667rem;
                                background: #f4f6eb;
                                color: #eaac3d;
                                margin-left: .186667rem;
                            }

                            span:nth-child(3) {
                                padding: .133333rem .2rem;
                                font-size: .266667rem;
                                background: #e7faf8;
                                color: #6bccf9;
                                margin-left: .186667rem;
                            }
                        }

                        .r2 {
                            margin-top: .24rem;

                            span:nth-child(1) {
                                font-size: .346667rem;
                                font-weight: bold;
                                color: #ec3434;
                            }

                            span:nth-child(2) {
                                font-size: .213333rem;
                                color: #ccc;
                                margin-left: .266667rem;
                            }
                        }
                    }
                }
            }
        }
    }

    footer {
        height: 2.173333rem;
        background: #2f3130;

        .p {
            padding-left: .333333rem;
            height: .8rem;
            font-size: .24rem;
            line-height: .8rem;
            color: #949494;
            border-bottom: 1px solid #949494;
        }

        .f1 {
            padding: .4rem 0;
            width: 1.6rem;
            height: .666667rem;
            padding-left: .333333rem;
            display: flex;
            float: left;

            i {
                font-size: .533333rem;
                line-height: .666667rem;
                vertical-align: middle;
                color: #737373;
            }

            span {
                white-space: pre-line;
                font-size: .186667rem;
                line-height: .186667rem;
                height: .666667rem;
                vertical-align: middle;
                color: #737373;
            }
        }

        .f2 {
            width: 1.6rem;
            height: .666667rem;
            padding-left: .333333rem;
            display: flex;
            float: left;
            padding: .4rem 0;

            i {
                font-size: .533333rem;
                line-height: .666667rem;
                vertical-align: middle;
                color: #737373;
            }

            span {
                white-space: pre-line;
                font-size: .186667rem;
                line-height: .186667rem;
                height: .666667rem;
                vertical-align: middle;
                color: #737373;
            }
        }

        .f3 {
            padding: .4rem 0;
            float: right;
            margin-right: .266667rem;

            p {
                font-size: .24rem;
                color: #737373;
            }
        }
    }
}